*{
    box-sizing: border-box;   
    /* border: 2px solid red; */
    background-color: rgb(254, 209, 149);
}

.megabox {
    border: 5px solid;
    
}

.odin-recipes {
    text-align: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 250px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    background-color: transparent;
}

.list {

    box-sizing: border-box;
    /* margin: 0 50px; */
    width: auto;
    text-align: center;
    margin: auto;
    padding: 0 0 0 0;
    display: flex;

    
}

.el1, .el2, .el3{
    flex: 1;
    display: inline-block;
    border: 5px solid;      
    border-radius: 10px;    
    border-color:black;
    padding: 5px;       
    margin: 0 50px;     
    width: 300px;
    font-size: large;       
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;             
    background-color: rgb(162, 5, 5);
    
}

.images-div {
    margin: 20px 0;
    text-align: center;
    display: flex;
    
}

.img1, .img2, .img3{
    width: 300px;
    margin: 0 50px;
    border: 5px solid;    border-radius: 10px;   border-color:black;
    flex: 1;
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    
}

@keyframes spin {
    50%{
        scale: 0.7;
        border-radius: 50%;
        transform: rotate(360deg);
    }

}