*{
    box-sizing: border-box;   
}

.odin-recipes {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.list {
    /* margin-left: 50px;
    margin-right: 50px; */
    box-sizing: border-box;
    margin: 0 150px;
    width: 1400px;

    
}

#div1, #div2, #div3 {
    margin: auto;
    display: inline-block;

}
.el1, .el2, .el3{
    
    border: 5px solid;
    padding: 5px;
    font-size: large;
    margin: 0 50px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    border-color: black;
    background-color: rgb(162, 5, 5);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.megabox {
    border: 5px solid;
    padding-bottom: 780px;
    background-color: rgb(254, 209, 149);
}