*{
    box-sizing: border-box;   

}

.odin-recipes {
    text-align: center;
}

.list {
    font-size: large;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#div1, #div2, #div3 {
    display: inline-flex;
}
.el1, .el2, .el3{
    border: 5px solid;
    padding: 5px;
    margin: 20px;
    height: 40px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;

    border-color: black;
    background-color: rgb(241, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
